*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

body{
    line-height: 1.6;
    background-color: #f9f9f9;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;

}

.header{
    background: linear-gradient(90deg, #1d5f54, #11554a);
    padding: 1rem 0;
    position: sticky;
    color: #f3f1f1;
    top: 0;
    z-index: 100;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: 600;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.nav-links a{
    color: #f3f1f1;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: color 0.3s ease-in-out; 
}

.nav-links a:before{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, #368d7e, #1f7a6b);
    transition: width 0.4s ease-in-out;
}

.nav-links a:hover{
    color: #398f81;
}

.nav-links a:hover::before{
    width: 100%;
}

.section{
    padding: 4rem 0;
    text-align: center;
}

.sobre{
    font-size: 1.5rem;
    color: #1d5f54;
    text-align: center;
    margin-top: 10px;
}

.section p{
    max-width: 600px;
    margin: 0 auto 2rem;
    color: #f3f1f1;
}

.aventuras-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    
}

.aventura-item{
    background-color: #398f81;
    border-radius: 10px;
}

.aventura-item img{
    width: 400px;
    height: 250px;
    border-radius: 5px;
}

.aventura-item h3{
    color: #fcfcfc;
    font-size: 1.5rem;
    
}

.sectionContato p{
    color: #1d5f54;
    font-size: 18px;
}

.sectionContato{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sectionContato form{
    display: flex;
    flex-direction: column;
    
}

.sectionContato form input{
    margin-bottom: 15px;
    font-size: 16px;
    color: #000000;
}

.sectionContato form input, textarea{
    outline: unset;
    padding: 10px;
    width: 300px;
    border: 1.5px solid #021f1a;
    border-radius: 10px;
}

.sectionContato form button{
    background-color: #1f7a6b;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.footer p{
    font-size: 1.2rem;
    color: #1d5f54;
    text-align: center;
}